inject ru.ozon.asyncInitializer.demo.plugin.presentation.componentInitializers.InitializerNetwork toPublicMethods ru.ozon.asyncInitializer.demo.plugin.presentation.componentInitializers.ComponentNetwork {
    }
inject ru.ozon.asyncInitializer.demo.plugin.presentation.componentInitializers.InitializerStorage toPublicMethods ru.ozon.asyncInitializer.demo.plugin.presentation.componentInitializers.ComponentStorage {
    }
inject ru.ozon.asyncInitializer.demo.plugin.presentation.componentInitializers.InitializerCrypto toPublicMethods ru.ozon.asyncInitializer.demo.plugin.presentation.componentInitializers.ComponentCrypto {
    }
inject ru.ozon.asyncInitializer.demo.plugin.presentation.componentInitializers.InitializerApiClient toPublicMethods ru.ozon.asyncInitializer.demo.plugin.presentation.componentInitializers.ComponentApiClient {
    }
inject ru.ozon.asyncInitializer.demo.plugin.presentation.componentInitializers.InitializerDbManager toPublicMethods ru.ozon.asyncInitializer.demo.plugin.presentation.componentInitializers.ComponentDbManager {
    }
inject ru.ozon.asyncInitializer.demo.plugin.presentation.componentInitializers.InitializerSession toPublicMethods ru.ozon.asyncInitializer.demo.plugin.presentation.componentInitializers.ComponentSession {
    }
inject ru.ozon.asyncInitializer.demo.plugin.presentation.componentInitializers.InitializerFeatureFlags toPublicMethods ru.ozon.asyncInitializer.demo.plugin.presentation.componentInitializers.ComponentFeatureFlags {
    }
inject ru.ozon.asyncInitializer.demo.plugin.presentation.componentInitializers.InitializerSearchIndex toPublicMethods ru.ozon.asyncInitializer.demo.plugin.presentation.componentInitializers.ComponentSearchIndex {
    }
inject ru.ozon.asyncInitializer.demo.plugin.presentation.componentInitializers.InitializerHomeScreen toPublicMethods ru.ozon.asyncInitializer.demo.plugin.presentation.componentInitializers.ComponentHomeScreen {
    }
inject ru.ozon.asyncInitializer.demo.plugin.presentation.componentInitializers.InitializerProfileScreen toPublicMethods ru.ozon.asyncInitializer.demo.plugin.presentation.componentInitializers.ComponentProfileScreen {
    }