
inject ru.ozon.asyncInitializer.demo.plugin.presentation.componentInitializers.InitializerA toPublicMethods ru.ozon.asyncInitializer.demo.plugin.presentation.componentInitializers.ComponentA {
    }
inject ru.ozon.asyncInitializer.demo.plugin.presentation.componentInitializers.InitializerB toPublicMethods ru.ozon.asyncInitializer.demo.plugin.presentation.componentInitializers.ComponentB {
    }
inject ru.ozon.asyncInitializer.demo.plugin.presentation.componentInitializers.InitializerC toPublicMethods ru.ozon.asyncInitializer.demo.plugin.presentation.componentInitializers.ComponentC {
    }
